@keyframes carre{
  from {
  background-color: red;
  }
  to{
  background-color: blue;
  }
}
#anim {
    width : 100px;
    height : 100px;
    background-color: red;
    animation-name : carre;
    animation-duration: 4s;
  }
