@keyframes carre{
  from {
  background-color: red;
  transform: rotate(0deg);
  }
  to{
  background-color: blue;
  transform: rotate(360deg);
  }
}
#anim {
    width : 100px;
    height : 100px;
    background-color: red;
    animation-name : carre;
    animation-duration: 4s;
  }
#anim:hover{
  width : 200px;
  height : 100px;
  background-color: red;
}
